.DS_Store
.idea
.yarn
.gradle
!.yarn/releases
node_modules/
npm-debug.log
yarn-error.log
.vscode/*
.expo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.xcode.env
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
local.properties
*.iml

#workspaces
/packages/*/lib
