# JS
node_modules
yarn.lock

# Project files
CONTRIBUTING.md
README.md

# Config files
babel.config.js
.clang-format
.eslintrc
.flowconfig
.watchmanconfig
.npmrc
.circleci
*.coverage.json
.opensource
codecov.yml

# Scripts
scripts/

# Example
example/
app.json

# Android
android/*/build/
android/gradlew
android/build
android/gradlew.bat
android/gradle/
android/com_crashlytics_export_strings.xml
android/local.properties
android/.gradle/
android/.signing/
android/.idea/gradle.xml
android/.idea/libraries/
android/.idea/workspace.xml
android/.idea/tasks.xml
android/.idea/.name
android/.idea/compiler.xml
android/.idea/copyright/profiles_settings.xml
android/.idea/encodings.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/scopes/scope_settings.xml
android/.idea/vcs.xml
android/*.iml
android/.settings

# iOS
ios/*.xcodeproj/xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/
ios/build/

# Misc
.DS_Store
.DS_Store?
coverage.android.json
coverage.ios.json
npm-debug.log
.github
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.dbandroid/gradle
docs
.idea
bin/test.js
codorials
website/
