{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver",
      {
        "alias": {
          "@react-native-community/async-storage": "../../packages/core/build",
          "@react-native-community/async-storage-legacy": "../../packages/storage-legacy/build"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}

